#!/bin/bash 

set -e

action=$1
version=$2

# Source debconf library.
. /usr/share/debconf/confmodule
db_version 2.0 || [ 0 -lt 30 ]

db_input medium glpi/webserver || true
db_go

dbc_first_version="0.72"

if [ -f /usr/share/dbconfig-common/dpkg/config.mysql ]; then
  . /usr/share/dbconfig-common/dpkg/config.mysql
  dbc_go glpi $@
fi

db_input high glpi/configuration || true
db_go

